#clock-style{
    position: relative;
}
#clock-style li {
  list-style: none;
  height: 30px;
  width: 30px;
  margin-top: -5px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color: rgba(52, 52, 52, 0.7);
  font-weight: 700;
}

#clock-style .container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 400px;
  margin-top: 20%;
  margin-right: 5%;
}

#clock-style .clock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 30px;
  background-color: #a4a4a42c;
  box-shadow: 2px 2px 10px 3px #303030;
  border-radius: 20px;
}

#clock-style .time-box {
  width: 30px;
  height: 100%;
}

#clock-style .numbers {
  background-color: #27272700;
  box-shadow: 2px 2px 10px 3px #2f2f2f;
  text-align: center;
  border-radius: 10px;
  transition: all 0.5s;
}
@media (max-width:1365px){
  #clock-style{
    display: none;
}
}